@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

blockquote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    font-size: 16px;
    color: white;
    padding: 10px 10px;
    font-family: 'Indie Flower', cursive;
    background-color: #444444;
    border-radius: 30px;
}

.paralax_bakery_window {
    background-image: url('../img/bakery_window.jpg');
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    margin-left: 15px;
    margin-right: 15px;
    
}

.mainpagebakery {
    width: 100%;
}

.paralax_bakery_hall {
    background-image: url('../img/bakery_hall.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}