section {
    display: block;
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

@media (min-width: 950px) {
    .menulist {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100%;
        grid-gap:5px;
}

@media (min-width: 950px) {
    .menulist-text {
        grid-column: 1/2;
        grid-row: 1/2;
        box-sizing: content-box;
    }
}

@media (min-width: 950px) {
    .breakfast {
        margin-top: 0;
    }
}

@media (min-width: 950px) {
    .menulist-photos {
        grid-column: 2/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3,1fr);
    }
}

@media (min-width: 950px) {
    .bakeexample-buns-in-basket {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

@media (min-width: 950px) {
    .bakeexample-croissant {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

@media (min-width: 950px) {
    .bakeexample-donut {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}

@media (min-width: 950px) {
    .bakeexample-macaron {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

@media (min-width: 950px) {
    .bakeexample-cupcakes {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

@media (min-width: 950px) {
    .bakeexample-pie {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}